<!DOCTYPE html>
<html>
<head>
	<title>FilmFestivals in Frankfurt {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/media/awesomeness.css" >
</head>
<body>
	<div id="header">
	</div>
	<div id="navigation">
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
	<a href="/events/submit/">Submit</a> <form method="GET" action="/search/"><input type="text" name="q" /> <input type="submit" value="Search" /> </form>
	</div>
</body>
</html>
