html {
	background-color: #4f4f4f;
}

body {
	font-family: "Arial", "Helvetica", "Verdana", sans-serif;
	font-size: 100.01%;
	background-color: white;
	width: 960px;
	margin: 0 auto;
	margin-top: 2em;
}

a { color: #3C8334; text-decoration: none; }
a:hover { background-color: #E4E4E4; }

img { border: 0; }

div#header {
	background-image: url(/media/header.png);
	border-style: none;
	height: 220px;
}

span#title {
	position: relative;
	left: 370px;
	top: 68px;
	height: 80px;
	width: 285px;
}

div#header a:hover {
	background-color: #000000;
}

div#content {
	background-color: white;
	padding-right: 8px;
	padding-left: 8px;
	width: 976px;
	voice-family: "\"}\"";	/* alle folgenden Deklarationen
							innerhalb des Deklarationsblockes
							werden von IE 5.x/Win ignoriert */
	voice-family:inherit;
	width:944px;

}

div#content_main {
	float: left;
	border: 0px;
	margin: 0px;
	width: 70%;
}

div#content_sidebar {
	width: 30%;
	border: 0px;
	margin: 0px;
	padding-top: 0.5em;
	margin-left: 70%;
}

div#navigation {
	border: solid 1px;
	border-right-style: none;
	border-left-style: none;
	border-top-style: none;
	height: 2em;
	padding-right:8px;
	padding-left:8px;
	line-height: 1.2em;
	vertical-align: middle;
	width:976px;
	voice-family: "\"}\"";	/* alle folgenden Deklarationen
							innerhalb des Deklarationsblockes
							werden von IE 5.x/Win ignoriert */
	voice-family:inherit;
	width:944px;
}

div#such_bereich {
	float:right;
	margin: 0;
	vertical-align: middle;
	width: 250px;
}

input {
	border: solid 1px;
}

input#submit {
	width: 60px;
	text-align: center;
}

input#suchfeld {
	width: 180px;
	padding-right: 2px;
}

div#footer {
	font-size: 80%;
	color: #c0c0c0;
	border-top: 1px solid;
	background-color: white;
	clear: both;
}

a.exportbtn img {
	opacity: 0.5;
}

a.exportbtn:hover img {
	opacity: 1;
	background-color: transparent;
}

.event_title { font-size: 130%; font-weight: bold; margin-bottom: 0.25em;}
.event_seperator { border: dashed #c0c0c0 1px; width: 650px;}
.event_date { font-size: 80%; color: #777777; }
.event_taglist { font-size: 80%; color: #777777; }
.sidebar_seperator { border: solid #c0c0c0 1px; }
.search_titletext { font-size: 100%; font-style: italic; color: #777777; font-weight: normal; }
.search_eventdesc { font-size: 90%; color: #444444; }
h2 {
	font-size: 110%;
}

/* Mini calendar stylesheet */
div.mini_calendar {
	margin-right:10px;
	text-align:center;
	border: 1px solid black;
	vertical-align:middle;
	float:left;

}
div.mini_calendar div {
	padding:2px;
	font-weight:bold;
}
div.mini_calendar .mon {
	color:white;
	background-color:#3C8334;
}

div.mini_calendar.past .mon {
	background-color:gray !important;
}

img.event_pic {
	float: right;
	margin: 10px;
	position: relative;
	top: -50px;
	border: 1px solid #c0c0c0;
}

img.event_desc_pic {
	top: 0px;
	border: 0px;
	padding-right: 10px;
}

div#event_address p {
	margin-bottom: 0.3em;
	margin-top: 0.3em;
	font-size: 80%;
}

div#social_sharing {
	margin-top: 10px;
}

/* django forms */
table.submit_form th {
	vertical-align:top;
	text-align:right;
	padding-right:10px;
}
ul.errorlist {
	margin:0;
	padding:0;
	list-style:none;
}
ul.errorlist li {
	margin:0;
	padding:0;
	list-style:none;
	color:red;
}
