html {
	background-color: #4f4f4f;
}

body {
	font-family: "Arial", "Helvetica", "Verdana", sans-serif;
	font-size: 100.01%;
	background-color: white;
	width: 800px;
	margin: 0 auto;
	margin-top: 2em;
}

a { color: #3C8334; text-decoration: none; }
a:hover { background-color: #E4E4E4; }

img { border: 0; }

div#header {
	background-image: url(/media/header.gif);
	border-style: none;
	height: 220px;
}

span#title {
	position: relative;
	left: 370px;
	top: 68px;
	height: 80px;
	width: 285px;
}

div#content {
	background-color: white;
	padding-right: 8px;
	padding-left: 8px;
	width: 816px;
	voice-family: "\"}\"";	/* alle folgenden Deklarationen
							innerhalb des Deklarationsblockes
							werden von IE 5.x/Win ignoriert */
	voice-family:inherit;
	width:784px;

}

div#content_main {
	float: left;
	border: 0px;
	margin: 0px;
	width: 70%;
}

div#content_sidebar {
	width: 30%;
	border: 0px;
	margin: 0px;
	padding-top: 0.5em;
	margin-left: 70%;
}

div#navigation {
	border: solid 1px;
	border-right-style: none;
	border-left-style: none;
	border-top-style: none;
	height: 2em;
	padding-right:8px;
	padding-left:8px;
	line-height: 1.2em;
	vertical-align: middle;
	width:816px;
	voice-family: "\"}\"";	/* alle folgenden Deklarationen
							innerhalb des Deklarationsblockes
							werden von IE 5.x/Win ignoriert */
	voice-family:inherit;
	width:784px;
}

div#such_bereich {
	float:right;
	margin: 0;
	vertical-align: middle;
	width: 250px;
}

input {
	border: solid 1px;
}

input#submit {
	width: 60px;
	text-align: center;
}

input#suchfeld {
	width: 180px;
	padding-right: 2px;
}

div#footer {
	font-size: 80%;
	color: #c0c0c0;
	border-top: 1px solid;
	background-color: white;
	clear: both;
}

table#social_sharing {
	border: 0;
}

.event_title { font-size: 130%; font-weight: bold; margin-bottom: 0.25em;}
.event_seperator { border: dashed #c0c0c0 1px;}
.event_date { font-size: 80%; color: #777777; }
.event_taglist { font-size: 80%; color: #777777; }
.sidebar_seperator { border: solid #c0c0c0 1px; }
.search_titletext { font-size: 100%; text-align: right; font-style: italic; color: #777777; font-weight: normal; }
h2 {
}
