{% extends 'base.html' %}

{% load highlight %}

{% block title %}- Suchergebnisse{% endblock %}

{% block content %}
{% if query %}
	<h1 class="search_titletext">Ihre Suchergebnisse f&uuml;r "{{ query }}"</h1>
	{% for result in page.object_list %}
	<h2 class="event_title"><a href="{{ result.object.get_absolute_url }}">{{ result.object.name }}</a></h2>
	<span class="event_date">{{ result.object.date_start }} - {{ result.object.date_end }}</span>
	<div class="event_desc"><p>{% highlight result.object.desc with query html_tag "strong" max_length 200 %}</p></div>
	<hr class="event_seperator">
	{% empty %}
	<p>Konnte keine mit Ihrer Anfrage &uuml;bereinstimmenden Eintr&auml;ge finden.</p>
	{% endfor %}
{% else %}
	<h2>Hilfe</h2>
	<p>
	Geben Sie im Suchfeld einen oder mehrere Begriffe ein, nach denen gesucht werden soll.
	</p>
{% endif %}
<p>Seite {{ page.number }} von {{ page.paginator.num_pages }}</p>
{{ page.object_num }}
<p>
{% if page.number > 1 %}
<a href="{{ base }}?query={{ query|urlencode }}&amp;page={{ page.previous_page_number }}">&larr; Vorherige Seite</a>
{% endif %}
{% if page.number < page.paginator.num_pages %}
<a href="{{ base }}?query={{ query|urlencode }}&amp;page={{ page.next_page_number }}">N&auml;chste Seite&rarr;</a>
{% endif %}
</p>
{% endblock %}
