<!DOCTYPE html>
<html>
<head>
	<title>FilmFestivals in Frankfurt {% block title %}{% endblock %}</title>
	<link rel="icon" type="image/x-icon" href="/media/favicon.ico" >
	<link rel="stylesheet" type="text/css" href="/media/awesomeness.css" >
    <link rel="stylesheet" type="text/css" href="/media/jquery-ui/css/ui-lightness/jquery-ui-1.8.13.custom.css" /> 
	<script type="text/javascript" src="/media/jquery-1.5.1.min.js"></script>
	<script type="text/javascript" src="/media/jquery-ui/js/jquery-ui-1.8.13.custom.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		$('.datepicker').datepicker();
	});
	</script>
</head>
<body>
	<div id="header">
		<span id="title"><a href="/"><img src="/media/title.png" alt="Filmfestivals in Frankfurt am Main" width="285" height="80"></a></span>
	</div>
	<div id="navigation">
		<div id="such_bereich">
			<form method="GET" id="search" action="/search/"><input type="text" name="q" id="suchfeld"/> <input type="submit" value="Suchen" id="submit"/> </form>
		</div>
		&raquo;<a href="/">Startseite</a>&nbsp;&raquo;<a href="/events/submit">Event einsenden</a>
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
	<span style="float: right;"><a href="/about/" >Impressum</a></span>
	Copyright &copy; 2011 by Felix Rauch and Steffen Neubauer &#124; Alle Marken sind Eigentum ihrer jeweiligen Inhaber.
	</div>
</body>
</html>
