<!DOCTYPE html>
<html>
<head>
	<title>FilmFestivals in Frankfurt {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/media/awesomeness.css" >
</head>
<body>
	<div id="header">
		<span id="title"><img src="/media/title.gif" alt="Filmfestivals in Frankfurt am Main"></span>
	</div>
	<div id="navigation">
		&raquo;<a href="/">Startseite</a>&nbsp;&raquo;<a href="/events/submit">Submit</a>
		<div id="such_bereich">
			<form method="GET" id="search" action="/search/"><input type="text" name="q" id="suchfeld"/> <input type="submit" value="Suchen" id="submit"/> </form>
		</div>
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
	Copyright &copy; 2010 by Felix Rauch and Steffen Neubauer &#124; Alle Marken sind Eigentum ihrer jeweiligen Inhaber.
	<span style="float: right;"><a href="/about/" >Impressum</a></span>
	</div>
</body>
</html>
