<!DOCTYPE html>
<html>
<head>
	<title>FilmFestivals in Frankfurt {% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/media/awesomeness.css" >
</head>
<body>
	<div id="header">
		<span id="title"><img src="/media/title.gif" alt="Filmfestivals in Frankfurt am Main"></span>
	</div>
	<div id="navigation">
		<a href="/events/submit">Submit</a>
		<div id="such_bereich">
			<form method="GET" id="search" action="/search/"><input type="text" name="q" id="suchfeld"/> <input type="submit" value="Suchen" id="submit"/> </form></span>
		</div>
	</div>
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<div id="footer">
	</div>
</body>
</html>
