{% extends "base.html" %}
{% load markup mini_calendar %}

{% block content %}
<div id="content_main" >
{% for e in events %}
	<div id="event">
	{% mini_calendar e.date_start %}
	<h2 class="event_title"><a href="{{ e.get_absolute_url }}">{{ e.name }}</a></h2>
	<span class="event_date">{{ e.date_start }} - {{ e.date_end }}</span>
	<div class="event_desc">{{ e.desc|markdown }}</div>
	<hr class="event_seperator">
	</div>
{% empty %}
	<p>Keine Ereignisse eingetragen.</p>
{% endfor %}
<p>Seite {{ page }} von {{ all_pages }}</p>
</div>
<div id="content_sidebar">
</div>
{% endblock %}
