{% extends "base.html" %}
{% load markup event %}

{% block content %}
<div id="content_main" >
{% for e in events %}
	{% event e %}
	<div class="event_desc">{{ e.desc|markdown|truncatewords_html:40 }}</div>
	<hr class="event_seperator">
{% empty %}
	<p>Keine Ereignisse eingetragen.</p>
{% endfor %}
<div class="pagination">
	<span class="step-links">
		{% if events.has_previous %}
			<a href="?page={{ events.previous_page_number }}">Vorherige</a>
		{% endif %}

		<span class="current">
			Seite {{ events.number }} von {{ events.paginator.num_pages }}
		</span>

		{% if events.has_next %}
			<a href="?page={{ events.next_page_number }}">N&auml;chste</a>
		{% endif %}
</span>
</div>
</div>
<div id="content_sidebar">
</div>
{% endblock %}
