{% extends "base.html" %}
{% load markup event %}
{% load thumbnail %}

{% block content %}
<div id="content_main" >
<p><a href="/">Zukünftige oder laufende Events</a> - <b>Vergangene Events</b></p>
{% for e in events.object_list %}
<div class="event">
	{% event e %}
	<div class="event_desc">
	{% if e.img %}<a href="{{ e.get_absolute_url }}"><img src="{% thumbnail e.img 100x200 %}" alt="{{e.name}}" class="event_pic"></a>{% endif %}
	{{ e.desc|markdown|truncatewords_html:40 }}</div>
</div>
	<hr class="event_seperator">
{% empty %}
	<p>Keine Ereignisse eingetragen.</p>
{% endfor %}
<div class="pagination">
	<span class="step-links">
		{% if events.has_previous %}
			<a href="/past/page/{{ events.previous_page_number }}/">Vorherige</a>
		{% endif %}

		<span class="current">
			Seite {{ events.number }} von {{ events.paginator.num_pages }}
		</span>

		{% if events.has_next %}
			<a href="/past/page/{{ events.next_page_number }}/">N&auml;chste</a>
		{% endif %}
</span>
</div>
</div>
<div id="content_sidebar">
</div>
{% endblock %}
